*.env
*node_modules
*.env.test
/server/tests/businesses.json
/server/tests/cities.json
/server/tests/comments.json
/server/tests/discounts.json
/server/tests/donations.json
/server/tests/eatup.json
/server/tests/posts.json
/server/tests/profiles.json
/server/tests/requests.json
/server/tests/users.json