PORT=secret
MONGO_URI=secret
NODE_ENV=secret
JWT_SECRET=secret
PASSWORD_KEY=secret
MONGODB_URI_TEST=secret
EMAIL_SENDER_URL=secret
EMAIL_SENDER_SECRET=secret
DEVICE_TOKEN_SECRET=secret
ENCRYPTION_KEY=secret