# Repository secrets
AWS_ACCOUNT_ID=""
HOSTED_ZONE_ID=""
CERTIFICATE_ARN=""
SERVERLESS_ACCESS_KEY=""
JWT_SECRET=""
PASSWORD_KEY=""
MONGO_URI=""
DEVICE_TOKEN_SECRET=""
ENCRYPTION_KEY=""
DOMAIN_NAME=""
SOCKET_ORIGIN_DOMAIN=""
MONGODB_URI_TEST=""

# Repository variables
AWS_REGION=""
APP_NAME=""

# Local development
NODE_ENV=""
PORT=""